@charset "utf-8";
/* CSS Document */

* {
	color: #003245;
	font-family: Arial, Helvetica, sans-serif;
}

article {
	padding: 5px 15px;
}

section {
	margin: 50px 0px;
}

h1 {
	font-size: 1.2em;
}

h3 {
	font-size: 0.9em;
}

ol {
	margin: 35px 0px;
}

code > ol {
	color: #aaa;
	background: #aaa;
	padding-left: 2em;
}

code > ol > li {
	background: #e2e2e2;
	padding: 0px 10px;
}

p, li, code {
	font-size: 0.8em;
}